<div class="row">
    <div class="col-12">
        <form ng-submit="ctrl.wrapperFunction();" name="dodajKorisnika">

            <div class="form-group">
                <label for="username">username:</label>
                <input type="text" name="username" id="username" class="form-control" ng-model="ctrl.noviKorisnik.username" required>
            </div>
            <div class="form-group">
                <label for="ime">ime:</label>
                <input type="text" name="ime" id="ime" class="form-control" ng-model="ctrl.noviKorisnik.ime" required>
            </div>
            <div class="form-group">
                <label for="prezime">prezime:</label>
                <input type="text" name="prezime" id="prezime" class="form-control" ng-model="ctrl.noviKorisnik.prezime" required>
            </div>

            
            <div class="form-group">
                <input type="submit" value="Dodaj Servisera" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>