<div class="row">
    <div class="col-12">
        <form ng-submit="ctrl.wrapperFunction()" name="korisnikForma">
            <div class="form-group">
                <label for="ime">Film:</label>
                <select name="ime" id="ime" ng-model="ctrl.novaProjekcija.film_id" required>
                    <option ng-repeat="f in ctrl.filmovi" value="{{f.id}}">{{f.naziv}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="termin">Termin:</label>
                <input type="datetime-local"  name="termin" id="termin" class="form-control"
                    ng-model="ctrl.novaProjekcija.termin" required>
            </div>
            <div class="form-group">
                <label for="korisnicko_ime">Cena:</label>
                <input min="1" type="number" name="korisnicko_ime" id="korisnicko_ime" class="form-control"
                    ng-model="ctrl.novaProjekcija.cena" required>
            </div>
            <div class="form-group">
                <input onclick="provera(event)" type="submit" value="Dodaj projekciju" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
<script>
    function provera(event) {
        let datum = document.getElementById("termin").value
        datum.slice(0, 19)
        datum.replace("T", " ");
        

        let today = new Date()

        let dd = today.setDate(today.getDate()+1)
        let mm = today.setMonth(today.getMonth()+1)
        let yyyy = today.getFullYear()
        let hh = today.setHours(today.getHours()+2)
        let min = today.getMinutes()

        console.log(hh)

        if (dd < 10) dd = "0" + dd
        if (mm < 10) mm = "0" + mm
        if (hh < 10) hh = "0" + hh
        if (min < 10) min = "0" + min

        let now = yyyy + "-" + mm + "-" + dd + " " + hh + ":" + min

        //document.getElementById("termin").setAttribute("min", today);

        console.log(hh)
        console.log(now)
        console.log(datum)

        if (datum > now) {
            event.target.setCustomValidity("Datum nije validan!")
        } 
        else {
            event.target.setCustomValidity("");
        }
    }
</script>