<div class="row justify-content-center">
    <div class="col-md-10 justify-content-center">
      <h1 class="display-4 text-center">Izmjena Podataka</h1>
    </div>
    <div class="col-md-10">
      <form ng-submit="ctrl.wrapperFunction()" name="izmeniKategoriju">
        <div class="form-group">
            <label for="naziv">naziv</label>
            <input type="text" name="naziv" id="naziv" class="form-control" ng-model="ctrl.novaKategorija.naziv"
              required />
          </div>
        <div class="form-group">
          <input type="submit" value="Izmijeni" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>