table,th,td {
    border: 3px solid black;
    padding: 10px;
}
thead{
    background-color: gray;
}
table {
    border-collapse: collapse;
}

.crveno{
    background-color: red;
}

a{
    text-decoration: none;
    padding: 5px;
    color: gold;
    background-color: black;
    border-radius: 30px;
}
a:hover{
    padding: 7px;
    transition: 0.5s;
    color: black;
    background-color: gold;
}
form{
    margin: auto;
}
input,select{
    padding: 7px;
    margin: 7px;
    border-radius: 30px;
    color: gold;
    background-color: black
}
input:hover,select:hover{
    padding: 10px;
    transition: 0.5s;
    color: black;
    background-color: gold;
}