<div class="row">
    <div class="col-12">
        <form ng-submit="ctrl.wrapperFunction();" name="filmForma">
            <div class="form-group">
                <label for="ime">Naziv:</label>
                <input type="text" name="ime" id="ime" class="form-control" ng-model="ctrl.noviKorisnik.ime" required>
            </div>
            <div class="form-group">
                <label for="prezime">Zanr:</label>
                <input type="text" name="zanr" id="zanr" class="form-control" ng-model="ctrl.noviKorisnik.prezime" required>
            </div>
            <div class="form-group">
                <label for="reziser">Reziser:</label>
                <input type="text" name="reziser" id="reziser" class="form-control" ng-model="ctrl.noviKorisnik.korisnicko_ime" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Izmeni korisnika" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>