table, tr {
    border: 5px solid black;
    padding: 15px;
    border-collapse: collapse;
}
td{
    border: 2px solid black;
    padding: 2px;
}
.obrisan {
    background-color: red;
}
.siv {
    background-color: gray;
}
