<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style2.css">
    <title>DETALJI</title>


    <script>
        function provera(event) {

            let pocetak = document.getElementById("pocetak").value;
            let kraj = document.getElementById("kraj").value;

            let today = new Date();

            let dd = today.getDate();
            let mm = today.getMonth() + 1;
            let yyyy = today.getFullYear();

            if (dd < 10) dd = "0" + dd;
            if (mm < 10) mm = "0" + mm;

            let now = yyyy + "-" + mm + "-" + dd;



            //var now = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
            //get month + 1 jer je januar = 0!!!!!!!!!


            if (!pocetak || !kraj) {
                popunjeno = false;
                event.target.setCustomValidity("Morate popuniti sva polja!");
            } else if (now > pocetak) {
                from = false;
                event.target.setCustomValidity("Pocetak nije validan!")
            } else if (kraj < pocetak) {
                to = false
                event.target.setCustomValidity("Kraj nije validan")
            }
            else {
                event.target.setCustomValidity("");
            }



        }
    </script>
</head>

<body>
    <div>
        <p>{{izabran["marka"]}}</p>
        <p>{{izabran["model"]}}</p>
        <p>{{izabran["godiste"]}}</p>
        <p>{{izabran["tablica"]}}</p>
        <p>{{izabran["cena"]}}</p>
    </div>
    <br>

    <table>
        <tr>
            <th>OD</th>
            <th>DO</th>
        </tr>
        {% for i in izabran["rezervacije"] %}
        <tr>
            <td>{{i["pocetak"]}}</td>
            <td>{{i["kraj"]}}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <h2>REZERVACIJA</h2>
    <form action="/rezervisan/{{izabran['tablica']}}" method="POST">
        <div>
            <label for="pocetak">Datum pocetka rezervacije</label>
            <br>
            <input type="date" name="pocetak" id="pocetak">
        </div>
        <div>
            <label for="kraj">Trajanje rezervacije</label>
            <br>
            <input type="date" name="kraj" id="kraj">
            <p>cena po danu je: {{izabran["cena"]}}</p>
        </div>
        <div>
            <input type="submit" value="REZERVISI" onclick="provera(event)">
        </div>
    </form>
    <br>
    <a href="/">POCETNA</a>
    <p id="demo1"></p>
    <p id="demo2"></p>
    <p id="demo3"></p>
</body>

</html>