<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IZMENA</title>
    <link rel="stylesheet" href="style.css">
    
    <script>
        function provera(event) {
            let marka = document.getElementById("marka").value;
            let model = document.getElementById("model").value;
            let godiste = document.getElementById("godiste").value;
            let tablica = document.getElementById("tablica").value;
            let cena = document.getElementById("cena").value;

            if (!marka || !model || !godiste || !tablica || !cena) {
                event.target.setCustomValidity("Morate popuniti sva polja!");
            } else if (isNaN(cena)) {
                event.target.setCustomValidity("Cena mora biti broj!");
            } else {
                event.target.setCustomValidity("");
            }

        }
    </script>
</head>

<body>
    <h1>IZMENA AUTOMOBILA: {{izabran["marka"]}} {{izabran["model"]}}</h1>

    <form action="/izmeni/{{index}}" method="POST">
        <div>
            <label for="marka">MARKA</label>
            <br>
            <input type="text" name="marka" id="marka" value="{{izabran["marka"]}}">
        </div>
        <div>
            <label for="model">MODEL</label>
            <br>
            <input type="text" name="model" id="model" value="{{izabran["model"]}}">
        </div>
        <div>
            <label for="godiste">GODISTE</label>
            <br>
            <input type="text" name="godiste" id="godiste" value="{{izabran["godiste"]}}">
        </div>
        <div>
            <label for="tablica">TABLICA</label>
            <br>
            <input type="text" name="tablica" id="tablica" value="{{izabran["tablica"]}}">
        </div>
        <div>
            <label for="cena">CENA</label>
            <br>
            <input type="text" name="cena" id="cena" value="{{izabran["cena"]}}">
        </div>
        <div>
            <input type="submit" value="IZMENI" onclick="provera(event)">
        </div>

    </form>
</body>

</html>