<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TABELA AUTOMOBILA</title>
    <link rel="stylesheet" href="style.css">
    
    <script>
        function provera(event) {
            let marka = document.getElementById("marka").value;
            let model = document.getElementById("model").value;
            let godiste = document.getElementById("godiste").value;
            let tablica = document.getElementById("tablica").value;
            let cena = document.getElementById("cena").value;

            if (!marka || !model || !godiste || !tablica || !cena) {
                event.target.setCustomValidity("Morate popuniti sva polja!");
            } else if (isNaN(cena)) {
                event.target.setCustomValidity("Cena mora biti broj!");
            } else {
                event.target.setCustomValidity("");
            }

        }

    </script>
</head>

<body>
    <h1>POCETNA</h1>
    <table>
        <tr>
            <th>MARKA</th>
            <th>MODEL</th>
            <th>GODISTE</th>
            <th>TABLICA</th>
            <th>CENA</th>
            <th>OPCIJE</th>
        </tr>
        {% for a in automobili %}
        {% if a["obrisan"] %}
        <tr class="red">
            <td>{{a["marka"]}}</td>
            <td>{{a["model"]}}</td>
            <td>{{a["godiste"]}}</td>
            <td>{{a["tablica"]}}</td>
            <td>{{a["cena"]}}</td>
            <td>
                <a href="/izmena/{{loop.index-1}}">IZMENA</a>
                <a href="/brisanje/{{loop.index-1}}">OBRISI</a>
                <a href="/detalji/{{a["tablica"]}}">DETALJI</a>
            </td>
        </tr>
        {% else %}
        <tr class="green">
            <td>{{a["marka"]}}</td>
            <td>{{a["model"]}}</td>
            <td>{{a["godiste"]}}</td>
            <td>{{a["tablica"]}}</td>
            <td>{{a["cena"]}}</td>
            <td>
                <a href="/izmena/{{loop.index-1}}">IZMENA</a>
                <a href="/brisanje/{{loop.index-1}}">OBRISI</a>
                <a href="/detalji/{{a["tablica"]}}">DETALJI</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}

        <form action="/dodaj" method="POST">
            <div>
                <label for="marka">MARKA</label>
                <br>
                <input type="text" name="marka" id="marka">
            </div>
            <div>
                <label for="model">MODEL</label>
                <br>
                <input type="text" name="model" id="model">
            </div>
            <div>
                <label for="godiste">GODISTE</label>
                <br>
                <input type="text" name="godiste" id="godiste">
            </div>
            <div>
                <label for="tablica">TABLICA</label>
                <br>
                <input type="text" name="tablica" id="tablica">
            </div>
            <div>
                <label for="cena">CENA</label>
                <br>
                <input type="text" name="cena" id="cena">
            </div>
            <br>
            <div>
                <input type="submit" value="DODAJ" onclick="provera(event)">
            </div>
            <br>

        </form>

    </table>
</body>

</html>