table,tr,th,td{
    border: 3px solid black;
    text-align: center;
    padding: 3px;
    padding: 7px;
}
table{
    border-collapse: collapse;
}
div {
    border: 5px solid black;
    border-collapse: collapse;
    margin-bottom: 2px;
    padding: 4px;
    width: 30px;
}
a,input {
    padding: 5px;
    color: gold;
    background: black;
    border-radius: 20px;
    text-decoration: none;
}
a:hover,input:hover{
    color: black;
    background: gold;
    transition: 0.7s;
}
form{
    padding: 10px;
    background-color: gray
}
body{
    margin: auto
}

