<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pocetna</title>
</head>
<body>
    <table>
        <tr>
            <th>Naziv</th>
            <th>Tip</th>
            <th>Kuhinja</th>
            <th>Cena</th>
            <th>Opis</th>
            <th>Dostupnost</th>
            
        </tr>
        {% for m in meni %}
            <tr>
                <td>{{m["naziv"]}}</td>
                <td>{{m["tip"]}}</td>
                <td>{{m["kuhinja"]}}</td>
                <td>{{m["cena"]}}</td>
                <td>{{m["opis"]}}</td>
                <td>{{m["dostupnost"]}}</td>
                
                <td><a href="/obrisi/{{loop.index-1}}">Obrisi</a></td>
                <td><a href="/izmeniFormu/{{loop.index-1}}">Izmeni</a></td>
                <td><a href="/narucivanjeForma/{{loop.index-1}}">Naruci</a></td>

            </tr>
        {% endfor %}
    </table>
    <a href="/dodavanjeForme">Dodavanje </a>
</body>
</html>