<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Izmena</title>
</head>
<body>
    <form action="/izmeni/{{index}}" method="POST">
        <input type="text" placeholder="naziv" name="naziv" required value="{{meni['naziv']}}"><br>
        <input type="text" placeholder="tip" name="tip" required value="{{meni['tip']}}"><br>
        <input type="text" placeholder="kuhinja" name="kuhinja" required value="{{meni['kuhinja']}}"><br>
        <input type="number" placeholder="cena" name="cena" required value="{{meni['cena']}}"><br>
        <input type="text" placeholder="opis" name="opis" required value="{{meni['opis']}}"><br>
        
        <input type="submit" value="izmeni"><br>
    </form>
</body>
</html>