<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>narucivanje</title>
</head>
<body>
    <label>Naziv:{{meni['naziv']}}</label>
    <label>Tip:{{meni['tip']}}</label>
    <label>Kuhinja:{{meni['kuhinja']}}</label>
    <label>Cena:{{meni['cena'}}</label>
    <label>Opis:{{meni['opis']}}</label>
    <label>Dostupnost:{{meni['dostupnost']}}</label>
    
    
    <form action="/naruci/{{index}}" method="POST">
        <input type="number" name="kolicina">
        <input type="submit" value="naruci">
    </form>
</body>
</html>