<div class="row">
    <div class="col-12">
        <form ng-submit="ctrl.dodajKorisnika()" name="korisnikForma">
            <div class="form-group">
                <label for="ime">Ime:</label>
                <input type="text" name="ime" id="ime" class="form-control" ng-model="ctrl.noviKorisnik.ime" required>
            </div>
            <div class="form-group">
                <label for="prezime">Prezime:</label>
                <input type="text" name="prezime" id="prezime" class="form-control" ng-model="ctrl.noviKorisnik.prezime" required>
            </div>
            <div class="form-group">
                <label for="korisnicko_ime">Korinsicko ime:</label>
                <input type="text" name="korisnicko_ime" id="korisnicko_ime" class="form-control" ng-model="ctrl.noviKorisnik.korisnicko_ime" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj korisnika" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>