<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DODAVANJE DOBAVLJACA</title>
    <link rel="stylesheet" href="style.css">
    <script>
        function proveri(event) {
            let naziv = document.getElementById("naziv").value;
            let drzava = document.getElementById("drzava").value;
            let grad = document.getElementById("grad").value;
            let ulica = document.getElementById("ulica").value;

            if (!naziv || !drzava || !grad || !ulica) {
                event.target.setCustomValidity("Morate popuniti sva polja");
            } else {
                event.target.setCustomValidity("");
            }
        }
    </script>
</head>

<body>
    <table>
        <thead>
            <tr>
                <td>Naziv</td>
                <td>Dobavljac</td>
                <td>Jedinica mere</td>
            </tr>
        </thead>
        <tbody>
            {% for s in stavke %}
            <tr>
                <td>{{s["naziv"]}}</td>
                <td>{{s["dobavljac"]}}</td>
                <td>{{s["jm"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- ----------------forma za dodavanje stavke------- -->
    <form action="/izmenjenPrikzaStavki" method="POST">
        <div>
            <label for="naziv">Naziv:</label>
        </div>
        <div>
            <input type="text" id="naziv" name="naziv">
        </div>


        <div>
            <label for="dobavljac">Dobavljac:</label>
        </div>
        <div>
            <select name="dobavljac" id="dobavljac">
                {% for d in dobavljaci %}
                {% if d["obrisan"] == false %}
                <option>{{d["naziv"]}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>


        <div>
            <label for="jm">Jedinica mere:</label>
        </div>
        <div>
            <input type="text" id="jm" name="jm">
        </div>

        <br>
        <div>
            <input type="submit" value="DODAJ DOBAVLJACA" onclick="proveri(event)">
        </div>
    </form>
    <a href="/">Tabela dobavljaca</a>
</body>

</html>