<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DODAVANJE DOBAVLJACA</title>
    <link rel="stylesheet" href="style.css">
    <script>
        function proveri(event) {
            let stavka = document.getElementById("stavka").value;
            let kolicina = document.getElementById("kolicina").value;

            if (!stavka || !kolicina) {
                event.target.setCustomValidity("Morate popuniti sva polja");
            } else {
                event.target.setCustomValidity("");
            }
        }
    </script>
</head>

<body>
    <table>
        <thead>
            <tr>
                <td>Stavka</td>
                <td>Kolicina</td>
            </tr>
        </thead>
        <tbody>
            {% for s in stavke_na_stanju %}
            <tr>
                <td>{{s["stavka"]}}</td>
                <td>{{s["kolicina"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- ----------------forma za dodavanje stavke------- -->
    <form action="/izmenjenPrikzaStavkiNaStanju" method="POST">
        <div>
            <label for="stavka">Stavka:</label>
        </div>
        <div>
            <select name="stavka" id="stavka">
                {% for s in stavke %}
                <option>{{s["naziv"]}}</option>
                {% endfor %}
            </select>
        </div>


        <div>
            <label for="kolicina">Kolicina:</label>
        </div>
        <div>
            <input type="number" id="kolicina" name="kolicina">
        </div>

        <br>
        <div>
            <input type="submit" value="DODAJ STAVKU NA STANJU" onclick="proveri(event)">
        </div>
    </form>
    <a href="/">Tabela dobavljaca</a>
</body>

</html>