<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tabela dobavljaca</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Adresa</td>
                <td>Naziv</td>
                <td>Brisanje</td>
            </tr>
        </thead>
        <tbody>
            {% for d in dobavljaci %}
            {% if d["obrisan"] %}
            <tr class="obrisan">
                <td>{{d["adresa"]["ulica"],d["adresa"]["grad"],d["adresa"]["drzava"]}}</td>
                <td>{{d["naziv"]}}</td>
                <td><a href="/brisanje/{{loop.index-1}}">obrisi</a></td>
            </tr>
            {% else %}
            <tr>
                <td>{{d["adresa"]["ulica"],d["adresa"]["grad"],d["adresa"]["drzava"]}}</td>
                <td>{{d["naziv"]}}</td>
                <td><a href="/brisanje/{{loop.index-1}}">obrisi</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="/dodavanjeDobavljaca">Dodavanje dobavljaca</a>
        <a href="/dodavanjeStavki">Dodavanje stavki</a>
        <a href="/dodavanjeStavkiNaStanju">Stavke na stanju</a>    
        <a href="/statistikaDobavljaca">Statistika dobavljaca</a>
    </div>
</body>
</html>