<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 justify-content-center">
      <div class="col-md-10 justify-content-center">
        <h1 class="display-4 text-center">KARTE</h1>
      </div>
      <div class="col-md-10">
        <table class="table shadow-lg p-3 mb-5 bg-white rounded">
          <caption>Lista karata</caption>
          <thead>
            <tr>
              <th scope="col">Redni broj</th>
              <th scope="col">Korisnik</th>
              <th scope="col">Projekcija</th>
              <th scope="col">Datum kupovine</th>
              <th scope="col">Cena</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="k in ctrl.karte | orderBy : 'datum_kupovine'">
              <td>{{$index+1}}</td>
              <td>{{k.korisnik_id}}</td>
              <td>{{k.projekcija_id}}</td>
              <td>{{k.datum_kupovine}}</td>
              <td>{{k.cena}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>