<div class="row">
    <div class="col-12">
        <!--
            Forme se definisu bez action i method atributa jer ce
            predavanje sadrzaja forme biti realizovano asinhrono
            obradom dogadjaja za predavanje sadrzaja. Uvezivanje
            funkcije koja obradjuje dogadjaj vrsi se preko ng-submit
            direktive kojoj se prosledjuje kod za obradu dogadjaja,
            u ovom slucaju poziv metode sacuvaj iz kontrolera.

            Upotreba ng-submit direktive za uvezivanje dogadjaja
            postuje ogranicenja forme u vidu zahteva za obaveznu
            popunjenost polja, dozvoljenih vrednosti polja itd.
            Ova direktiva takodje prati stanje isravnosti elemenata
            forme i na taj nacin omogucava stilizovanje elemenata
            forme spram ispravnosti forme i njenog sadrzaja.
        -->
        <form ng-submit="pctrl.sacuvaj()" name="korisnikForma">
            <div class="form-group">
                <label for="korisnicko_ime">Korisniko ime:</label>
                <input ng-class="{'is-invalid': korisnikForma['korisnicko_ime'].$invalid}" type="text" name="korisnicko_ime" id="korisnicko_ime"
                    class="form-control" ng-model="pctrl.noviKorisnik.korisnicko_ime" required>
            </div>
            <div class="form-group">
                <label for="ime">Ime</label>
                <input ng-class="{'is-invalid': korisnikForma['ime'].$invalid}" type="text" name="ime" id="ime"
                    class="form-control" ng-model="pctrl.noviKorisnik.ime" required>
            </div>
            <div class="form-group">
                <label for="prezime">Prezime:</label>
                <input ng-class="{'is-invalid': korisnikForma['prezime'].$invalid}" type="text" name="prezime" id="prezime"
                    class="form-control" ng-model="pctrl.noviKorisnik.prezime" required>
            </div>
            <div class="form-group">
                <!--
                    Prikaz dugmeta zavisi od toga da li proizvod ima zadat id ili ne,
                    odnosno od toga da li se vrsi izmena postojeceg ili dodavanje
                    novog proizvoda.
                -->
                <input type="submit" ng-if="pctrl.noviKorisnik['id']" value="Izmeni korisnika" class="btn btn-primary">
                <input type="submit" ng-if="!pctrl.noviKorisnik['id']" value="Dodaj korisnika" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>