<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tabela nekretnina</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <label>Tabela nekretnina</label>
    <table>
        <thead>
            <tr>
                <td>Naziv</td>
                <td>Adresa</td>
                <td>Godina izgradnje</td>
                <td>Broj soba</td>
                <td>Povrsina</td>
                <td>Cena</td>
                <td>Status</td>
                <td>Brisanje</td>
                <td>Izmena</td>
                <td>Kupovina</td>
            </tr>
        </thead>
        <tbody>
            {% for n in nekretnine %}
            {% if n["obrisan"] %}
            <tr class="obrisan">
                <td>{{n["naziv"]}}</td>
                <td>{{n["adresa"]}}</td>
                <td>{{n["godina"]}}</td>
                <td>{{n["sobe"]}}</td>
                <td>{{n["povrsina"]}}</td>
                <td>{{n["cena"]}}</td>
                <td>{{n["status"]}}</td>
                <td><a href="/brisanje/{{loop.index-1}}">obrisi</a></td>
            </tr>
            {% else %}
            <tr>
                <td>{{n["naziv"]}}</td>
                <td>{{n["adresa"]}}</td>
                <td>{{n["godina"]}}</td>
                <td>{{n["sobe"]}}</td>
                <td>{{n["povrsina"]}}</td>
                <td>{{n["cena"]}}</td>
                <td>{{n["status"]}}</td>
                <td><a href="/brisanje/{{loop.index-1}}">obrisi</a></td>
                <td><a href="/izmeniFormu/{{loop.index-1}}">Izmeni</a></td>
                <td><a href="/kupovinaForma/{{loop.index-1}}">Kupi</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <div>
        <br>
        <a href="/dodavanjeNekretnine">Dodavanje nekretnine</a><br>
        <a href="/statistikaKupovina">Tabela kupovina</a><br>
    </div>
</body>
</html>