<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Izmena</title>
</head>
<body>
    <p>Izmenite podatek o nekretnini</p><br>
    <form action="/izmeni/{{index}}" method="POST">
        <div>
            <label for="naziv">Naziv:</label>
        </div>
        <div>
            <input type="text" id="naziv" name="naziv" required value="{{nekretnine['naziv']}}">
        </div>
        <div>
            <label for="adresa">Adresa:</label>
        </div>
        <div>
            <input type="text" id="adresa" name="adresa" required value="{{nekretnine['adresa']}}">
        </div>
        <div>
            <label for="godina">Godina izgradnje:</label>
        </div>
        <div>
            <input type="text" id="godina" name="godina" required value="{{nekretnine['godina']}}">
        </div>
        <div>
            <label for="sobe">Broj soba:</label>
        </div>
        <div>
            <input type="number" id="sobe" name="sobe" required value="{{nekretnine['sobe']}}">
        </div>
        <div>
            <label for="povrsina">Povrsina:</label>
        </div>
        <div>
            <input type="text" id="povrsina" name="povrsina" required value="{{nekretnine['povrsina']}}">
        </div>
        <div>
            <label for="cena">Cena:</label>
        </div>
        <div>
            <input type="number" id="cena" name="cena" required value="{{nekretnine['cena']}}">
        </div>
        <div>
            <label for="status">Status:</label>
        </div>
        <div>
            <input type="text" id="status" name="status" required value="{{nekretnine['status']}}">
        </div>

        <input type="submit" value="IZMENI"><br>
    </form>
</body>
</html>