<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kupovina Nekretnine</title>
</head>
<body>
    <label>Naziv: {{nekretnine['naziv']}}</label><br>
    <label>Adresa: {{nekretnine['adresa']}}</label><br>
    <label>Godina izgradnje: {{nekretnine['godina']}}</label><br>
    <label>Broj soba: {{nekretnine['sobe']}}</label><br>
    <label>Povrsina: {{nekretnine['povrsina']}}</label><br>
    <label>Cena: {{nekretnine['cena']}}</label><br>
    <label>Status: {{nekretnine['status']}}</label><br>
    <label>Obrisan: {{nekretnine['obrisan']}}</label><br>
    <hr>
    <label>Popuniti podatke o kupci:</label><br>
    <form action="/kupi/{{index}}" method="POST">
        
        <label for="mbr">Maticni borj kupca:</label><br>
        <input type="text" name="mbr" required><br>
        <label for="brtelefona">Broj telefona kupca:</label><br>
        <input type="text" name="brtelefona" required><br>
        <label for="visinaponude">Visina ponude:</label><br>
        <input type="number" name="visinaponude"><br>
        <br>
        <input type="submit" value="KUPI">
    </form>
</body>
</html>