<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Izmena stanja</title>
</head>
<body>
    <form action="/stanje/{{index}}" method="POST">
        <div>
            <label for="naziv">Naziv:</label>
        </div>
        <div>
            <label for="mbr">Maticni broj kupca:</label>
        </div>
        <div>
            <label for="brtelefona">Broj telefona:</label>
        </div>
        <div>
            <label for="visinaponude">Visina ponude:</label>
        </div>
        <div>
            <label for="stanje">Stanje:</label>
        </div>
        <div>
            <input type="text" id="stanje" name="stanje" required value="{{kupovine['stanje']}}">
        </div>

        <input type="submit" value="IZMENI STANJE"><br>
    </form>
</body>
</html>