<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Tabela Kupovina</title>
</head>
<body>
    <label>Tabela kupovina</label>
    <table>
        <thead>
            <tr>
                <td>Naziv</td>
                <td>Maticni broj kupca</td>
                <td>Broj telefona kupca</td>
                <td>Visina ponude</td>
                <td>Stanje kupovine</td>
                <td>Promena stanja</td>
            </tr>
        </thead>
        <tbody>
            {% for k in kupovine %}
            <tr>
                <td>{{k["naziv"]}}</td>
                <td>{{k["mbr"]}}</td>
                <td>{{k["brtelefona"]}}</td>
                <td>{{k["visinaponude"]}}</td>
                <td>{{k["stanje"]}}</td>
                <td><a href="/izmenaStanja/{{loop.index-1}}">Promena stanja</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
    </div>
    </table>
</body>
</html>