<div class="row justify-content-center">
    <div class="col-md-10 justify-content-center">
      <h1 class="display-4 text-center">Izmjena Podataka</h1>
    </div>
    <div class="col-md-10">
      <form ng-submit="ctrl.wrapperFunction()" name="izmeniKorisnika">
        <div class="form-group">
            <label for="username">username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="ctrl.noviKorisnik.username"
              required />
          </div>
        <div class="form-group">
          <label for="ime">ime:</label>
          <input type="text" name="ime" id="ime" class="form-control" ng-model="ctrl.noviKorisnik.ime" required />
        </div>
        <div class="form-group">
          <label for="prezime">prezime:</label>
          <input type="text" name="prezime" id="prezime" class="form-control" ng-model="ctrl.noviKorisnik.prezime"
            required />
        </div>
        <div class="form-group">
          <input type="submit" value="Izmijeni korisnika" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>