<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Izmena</title>
    <script>
        function proveri(event){
            let naziv = document.getElementById("naziv").value;
            let adresa = document.getElementById("adresa").value;
            let datum = document.getElementById("datum").value;
            let status = document.getElementById("status").value;
            let dostupni = document.getElementById("dostupni").value;

            if (!naziv || !adresa || !datum || !status || !dostupni){
                event.target.setCustomValidity("Morate popuniti sva polja");
            } else {
                event.target.setCustomValidity("");
            }
        }
    </script>
</head>
<body>
    <form action="/izmeni/{{index}}" method="POST">
        <div>
            <label for="naziv">Naziv:</label>
        </div>
        <input type="text" placeholder="naziv" name="naziv" required value="{{stanice['naziv']}}"><br>
        <div>
            <label for="adresa">Adresa:</label>
        </div>
        <input type="text" placeholder="adresa" name="adresa" required value="{{stanice['adresa']}}"><br>
        <div>
            <label for="datum">Datum pocetka rada:</label>
        </div>
        <input type="text" placeholder="datum" name="datum" required value="{{stanice['datum']}}"><br>
        <div>
            <label for="status">Status:</label>
        </div>
        <input type="text" placeholder="status" name="status" required value="{{stanice['status']}}"><br>
        <div>
            <label for="dostupni">Broj dostupnih bicikala:</label>
        </div>
        <input type="number" placeholder="dostupni" name="dostupni" required value="{{stanice['dostupni']}}"><br>

        <input type="submit" value="IZMENI"><br>
    </form>
</body>
</html>