<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kupovina karte</title>
</head>
<body>
    <label>Naziv:{{stanice['naziv']}}</label>
    <label>Adresa:{{stanice['adresa']}}</label>
    <label>Datum:{{stanice['datum']}}</label>
    <label>Status:{{stanice['status']}}</label>
    <label>Dostupnost:{{stanice['dostupni']}}</label>   
    
    
    <form action="/kupi/{{index}}" method="POST">
        <input type="number" name="kolicina">
        <input type="submit" value="kupi">
    </form>
</body>
</html>