<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tabela stanica</title>
    <link rel="stylesheet" href="style.css">
</head>
    <table>
        <thead>
            <tr>
                <td>Naziv</td>
                <td>Adresa</td>
                <td>Datum</td>
                <td>Status</td>
                <td>Broj dostupnih</td>
                <td>Obrisi</td>
                <td>Izmena</td>
                <td>Kupovina karata</td>
            </tr>
        </thead>
        <tbody>
            {% for s in stanice %}
            {% if s["obrisan"] %}
            <tr class="obrisan">
                <td>{{s["naziv"]}}</td>
                <td>{{s["adresa"]}}</td>
                <td>{{s["datum"]}}</td>
                <td>{{s["status"]}}</td>
                <td>{{s["dostupni"]}}</td>
                <td><a href="/brisanje/{{loop.index-1}}">obrisi</a></td>
            </tr>
            {% else %}
            <tr>
                <td>{{s["naziv"]}}</td>
                <td>{{s["adresa"]}}</td>
                <td>{{s["datum"]}}</td>
                <td>{{s["status"]}}</td>
                <td>{{s["dostupni"]}}</td>
                <td><a href="/brisanje/{{loop.index-1}}">obrisi</a></td>
                <td><a href="/izmeniFormu/{{loop.index-1}}">Izmeni</a></td>
                <td><a href="/kupiForma/{{loop.index-1}}">Kupi kartu</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    </table>
    <a href="/dodavanjeStanice">Dodavanje stanice</a>

</html>