<div class="row">
    <div class="col-12">
    
        <form ng-submit="pctrl.sacuvaj()" name="tipForma">
            <div class="form-group">
                <label for="naziv">Naziv:</label>
                <input ng-class="{'is-invalid': tipForma['naziv'].$invalid}" type="text" name="naziv" id="naziv"
                    class="form-control" ng-model="pctrl.noviTip.naziv" required>
            </div>
            <div class="form-group">
                <label for="skraćenica">Skraćenica:</label>
                <input maxlength="3" ng-class="{'is-invalid': tipForma['skraćenica'].$invalid}" type="text" name="skraćenica" id="skraćenica"
                class="form-control" ng-model="pctrl.noviTip['skraćenica']" required>
            </div>
            <div class="form-group">
                <!--
                    Prikaz dugmeta zavisi od toga da li proizvod ima zadat id ili ne,
                    odnosno od toga da li se vrsi izmena postojeceg ili dodavanje
                    novog proizvoda.
                -->
                <input type="submit" ng-if="pctrl.noviTip['id']" value="Izmeni proizvod" class="btn btn-primary">
                <input type="submit" ng-if="!pctrl.noviTip['id']" value="Dodaj proizvod" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>