<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 justify-content-center">
      <div class="col-md-10 justify-content-center">
        <h1 class="display-4 text-center">KORISNICI</h1>
      </div>
      <div class="col-md-10">
        <table class="table shadow-lg p-3 mb-5 bg-white rounded">
          <caption>Lista korisnika</caption>
          <thead>
            <tr>
              <th scope="col">Redni broj</th>
              <th scope="col">Ime</th>
              <th scope="col">Prezime</th>
              <th scope="col">Korisnicko ime</th>
              <th scope="col">Izmena</th>
              <th scope="col">Brisanje</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="k in ctrl.korisnici">
              <td>{{$index+1}}</td>
              <td>{{k.ime}}</td>
              <td>{{k.prezime}}</td>
              <td>{{k.korisnicko_ime}}</td>
              <td><a ui-sref="izmeniKorisnika({id: k.id})">IZMENI</a></td>
              <td><button ng-click="ctrl.obrisiKorisnika(k.id)" class="btn-danger rounded">&times;</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr />
    </div>

    <div class="col-md-10 justify-content-center">
      <div class="col-md-10 justify-content-center">
        <h1 class="display-4 text-center">FILMOVI</h1>
      </div>
      <div class="col-md-10">
        <table class="table shadow-lg p-3 mb-5 bg-white rounded">
          <caption>Lista filmova</caption>
          <thead>
            <tr>
              <th scope="col">Redni broj</th>
              <th scope="col">Naziv</th>
              <th scope="col">Zanr</th>
              <th scope="col">Reziser</th>
              <th scope="col">Premijera</th>
              <th scope="col">Izmena</th>
              <th scope="col">Brisanje</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="f in ctrl.filmovi">
              <td>{{$index+1}}</td>
              <td>{{f.naziv}}</td>
              <td>{{f.zanr}}</td>
              <td>{{f.reziser}}</td>
              <td>{{f.premijera}}</td>
              <td><a ui-sref="izmeniFilm({id: f.id})">IZMENI</a></td>
              <td><button ng-click="ctrl.obrisiFilm(f.id)" class="btn-danger rounded">&times;</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>