py<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 justify-content-center">
            <div class="col-md-10 justify-content-center">
                <h1 class="display-4 text-center">PROJEKCIJE</h1>
            </div>
            <div class="col-md-10">
                <table class="table shadow-lg p-3 mb-5 bg-white rounded">
                    <caption>Lista projekcija</caption>
                    <thead>
                      <tr>
                        <th scope="col">Redni broj</th>
                        <th scope="col">Film</th>
                        <th scope="col">Termin</th>
                        <th scope="col">Cena</th>
                        <th scope="col">Izmena</th>
                        <th scope="col">Brisanje</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="p in ctrl.projekcije">
                        <td>{{$index+1}}</td>
                        <td>{{p.film_id}}</td>
                        <td>{{p.termin}}</td>
                        <td>{{p.cena}}</td>
                        <td><a ui-sref="izmeniProjekciju({id: p.id})">IZMENI</a></td>
                        <td><button ng-click="ctrl.obrisiProjekciju(p.id)" class="btn-danger rounded">&times;</button></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>