<div class="container justify-content-center">
    <div class="row justify-content-center">
      <div class="col-md-10 justify-content-center">
        <h1 class="display-4 text-center">korisnici</h1>
      </div>
      <hr />
      <div class="col-md-10">
        <table class="table">
          <caption>
            Lista korisnika
          </caption>
          <thead>
            <tr>
              <th scope="col">Redni Broj</th>
              <th scope="col">Username</th>
              <th scope="col">Ime</th>
              <th scope="col">Prezime</th>
              <th scope="col">Izmijeni</th>
              <th scope="col">Brisanje</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="serviser in ctrl.korisnici">
              <td>{{$index+1}}</td>
              
              <td>{{serviser.username}}</td>
              <td>{{serviser.ime}}</td>
              <td>{{serviser.prezime}}</td>
              <td>
                <a ui-sref="izmeniKorisnika({id:serviser.id})">Izmijeni</a>
              </td>
              <td>
                <button ng-click="ctrl.obrisiKorisnika(serviser.id)" class="btn btn-danger btn-sm">
                  <span>Obriši &times;</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <hr />
      </div>
      <div class="col-md-10 justify-content-center">
        <h1 class="display-4 text-center">oglasi</h1>
      </div>

      <hr />
      <div class="col-md-10">
        <table class="table">
          <caption>
            Lista oglasa
          </caption>
          <thead>
            <tr>
              <th scope="col">Redni Broj</th>
              <th scope="col">Kategorija</th>
              <th scope="col">Korisnik</th>
              <th scope="col">Naslov</th>
              <th scope="col">Sadrzaj</th>
              <th scope="col">Datum objave</th>
              <th scope="col">Izmijena</th>
              <th scope="col">Brisanje</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="oglas in ctrl.oglasi">
              <td>{{$index+1}}</td>
              <td>{{oglas.kategorija_id}}</td>
              <td>{{oglas.korisnik_id}}</td>
              <td>{{oglas.naslov}}</td>
              <td>{{oglas.sadrzaj}}</td>
              <td>{{oglas.datum_objave}}</td>
              <td><a ui-sref="izmeniOglas({id: oglas.id})">IZMENI</a></td>
              <td>
                <button id="demo" ng-click="ctrl.obrisiOglas(oglas.id)" class="btn btn-danger btn-sm rounded">
                  <span>&times;</span>
                </button>
              
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-10 justify-content-center">
        <h1 class="display-4 text-center">kategorije</h1>
      </div>
      <hr />
      <div class="col-md-10">
        <table class="table">
          <caption>
            Lista kategorija
          </caption>
          <thead>
            <tr>
              <th scope="col">Redni Broj</th>
              <th scope="col">naziv</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="k in ctrl.kategorije">
              <td>{{$index+1}}</td>
              <td>{{k.naziv}}</td>
              <td><a ui-sref="izmeniKategoriju({id: k.id})">IZMENI</a></td>
              <td>
                <button id="demo" ng-click="ctrl.obrisiKategoriju(k.id)" class="btn btn-danger btn-sm rounded">
                  <span>&times;</span>
                </button> 
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
    function brisanje(){
      alert("Nuspesno brisanje")
    }
  </script>