<div class="row">
    <div class="col-12">
        <form ng-submit="pctrl.sacuvaj()" name="dogadjajForma">
            <div class="form-group">
                <label for="ime">Ime:</label>
                <input ng-class="{'is-invalid': dogadjajForma['ime'].$invalid}" type="text" name="ime" id="ime"
                    class="form-control" ng-model="pctrl.noviLekar.ime" required>
            </div>
            <div class="form-group">
                <label for="prezime">Prezime:</label>
                <input ng-class="{'is-invalid': dogadjajForma['prezime'].$invalid}" type="text" name="prezime" id="prezime"
                class="form-control" ng-model="pctrl.noviLekar.prezime" required>
            </div>
            <div class="form-group">
                <label for="specijalizacija">Specijalizacija:</label>
                <select class="form-control" id="specijalizacija" name="specijalizacija"
                    ng-options="specijalizacija.id as specijalizacija.naziv for specijalizacija in pctrl.specijalizacije"
                    ng-model="pctrl.noviLekar.specijalizacija">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" ng-if="pctrl.noviLekar['id']" value="Izmeni proizvod" class="btn btn-primary">
                <input type="submit" ng-if="!pctrl.noviLekar['id']" value="Dodaj proizvod" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>