<div class="row">
    <div class="col-12">
        <form ng-submit="ctrl.wrapperFunction();" name="dodajKategoriju">

            <div class="form-group">
                <label for="naziv">naziv:</label>
                <input type="text" name="naziv" id="naziv" class="form-control" ng-model="ctrl.novaKategorija.naziv" required>
            </div>            
            <div class="form-group">
                <input type="submit" value="Dodaj Servisera" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>