<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DODAVANJE PROIZVODA</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ADRESA</th>
                <th>Naziv</th>
            </tr>
        </thead>
        <tbody>
            {% for d in dobavljaci %}
            <tr>
                <td>{{d["id"]}}</td>
                <td>{{d["adresa"]}}</td>
                <td>{{d["naziv"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br>

    <form action="dodanDobavljac" , method="POST">
        <div>
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <div>
            <label for="adresa">Adresa</label>
            <input type="text" id="adresa" name="adresa">
        </div>
        <div>
            <label for="naziv">Naziv</label>
            <input type="text" id="naziv" name="naziv">
        </div>
        <div>
            <input type="submit" value="DODAJ">
        </div>
    </form>
    <br><br>
    <a href="/">Proizvodi</a>
</body>

</html>