<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Kolicina</th>
            </tr>
        </thead>
        <tbody>
            {% for s in proizvodi_na_stanju %}
            <tr>
                <td>{{s["proizvod"]}}</td>
                <td>{{s["kolicina"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br>

    <form action="/dodajPNS" method="POST">
        <div>
            <label for="proizvod">Proizvod</label>
            <select name="proizvod" id="proizvod">
                {% for p in proizvodi %}
                <option value="{{p["naziv"]}}">{{p["naziv"]}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="kolicina">Kolicina</label>
            <input type="number" name="kolicina">
        </div>
        <div>
            <input type="submit" value="DODAJ">
        </div>
    </form>
    <br><br>
    <a href="/">Proizvodi</a>
</body>
</html>