<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DODAVANJE PROIZVODA</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <form action="/reloadProizvodi" method="POST">
        <div>
            <label for="naziv">Naziv</label>
            <input type="text" id="naziv" name="naziv">
        </div>
        <div>
            <label for="dobavljac">Dobavljac</label>
            <select name="dobavljac" id="dobavljac">
                {% for d in dobavljaci %}
                <option value="{{d["id"]}}">{{d["id"]}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="jm">Jedinica mere</label>
            <input type="text" id="jm" name="jm">
        </div>
        <div>
            <label for="cena">Cena</label>
            <input type="text" id="cena" name="cena">
        </div>
        <div>
            <input type="submit" value="DODAJ">
        </div>
    </form>
    <br><br>
    <a href="/">Proizvodi</a>

</body>

</html>