<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Kupovina nije moguca jer nema dovoljno {{konacan_racun["proizvod"]}} na stanju</h1>
    <br><br>
    <a href="/">Proizvodi</a>
</body>
</html>