<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KUPOVINA</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/racun" method="POST">
        <div>
            <label for="proizvod">Proizvod</label>
            <select name="proizvod" id="proizvod">
                {% for s in proizvodi_na_stanju %}
                <option value="{{s["proizvod"]}}">{{s["proizvod"]}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="kolicina">kolicina</label>
            <input type="number" name="kolicina">
        </div>
        <div>
            <input type="submit" value="KUPI">
        </div>
    </form>
    <br><br>
    <a href="/">Proizvodi</a>
</body>
</html>