<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PROIZVODI</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Dobavljac</th>
                <th>Jedinica mere</th>
                <th>Jedinicna cena</th>
                <th>Brisanje</th>
            </tr>
        </thead>
        <tbody>
            {% for p in proizvodi %}
            {% if p["obrisan"] %}
            <tr class="crveno">
                <td>{{p["naziv"]}}</td>
                {% for d in dobavljaci %}
                {% if d["id"] == p["dobavljac"] %}
                <td>{{d["naziv"]}}</td>
                {% endif %}
                {% endfor %}
                <td>{{p["jm"]}}</td>
                <td>{{p["cena"]}}</td>
                <td><a href="/brisanje/{{loop.index-1}}">Obrisi</a></td>
            </tr>
            {% else %}
            <tr>
                <td>{{p["naziv"]}}</td>
                {% for d in dobavljaci %}
                {% if d["id"] == p["dobavljac"] %}
                <td>{{d["naziv"]}}</td>
                {% endif %}
                {% endfor %}
                <td>{{p["jm"]}}</td>
                <td>{{p["cena"]}}</td>
                <td><a href="/brisanje/{{loop.index-1}}">Obrisi</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    <a href="/dodavanjeProizvoda">Dodaj proizvod</a>
    <br><br>
    <a href="/dobavljaci">Dodaj dobavljaca</a>
    <br><br>
    <a href="/proizvodiNaStanju">Dodaj proizvod na stanju</a>
    <br><br>
    <a href="/kupovina">Kupovina</a>
</body>
</html>