<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RACUN</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        {% if konacan_racun %}
            {% for p in proizvodi %}
                {% if p["naziv"] == konacan_racun["proizvod"] %}
                    <p>{{konacan_racun["proizvod"]}}</p>
                    <p>{{konacan_racun["kolicina"]|int * p["cena"]|int}}</p>
                {% endif %}
            {% endfor %}
        {% else %}
        <p>Nije moguce izvrsiti kupovinu jer nema dovoljno proizvoda na stanju</p>
        {% endif %}
    </div>
    <br><br>
    <a href="/">Proizvodi</a>
</body>
</html>