<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angazovanje</title>
</head>
<body>
    <label>Ime: {{zaposleni['ime']}}</label><br>
    <label>Prezime: {{zaposleni['prezime']}}</label><br>
    <label>Datum pocetka rada: {{zaposleni['datum']}}</label><br>
    <label>Visina plate: {{zaposleni['plata']}}</label><br>
    <label>Radno mesto: {{zaposleni['rmesto']}}</label><br>
    <label>Obrisan: {{zaposleni['obrisan']}}</label><br>
    
    
    <form action="/angazuj/{{index}}" method="POST">
        <label for="naziv">Naziv:</label><br>
        <input type="text" name="naziv"><br>
        <label for="pocetak">Pocetak angazovanja:</label><br>
        <input type="text" name="pocetak"><br>
        <label for="kraj">Kraj angazovanja:</label><br>
        <input type="text" name="kraj"><br>
        <input type="submit" value="angazuj">
    </form>
</body>
</html>