<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Izmena zaposlenih</title>
</head>
<body>
    <form action="/izmeni/{{index}}" method="POST">
        <label for="ime">Ime:</label><br>
        <input type="text" placeholder="ime" name="ime" required value="{{zaposleni['ime']}}"><br>
        <label for="prezime">Prezime:</label><br>
        <input type="text" placeholder="prezime" name="prezime" required value="{{zaposleni['prezime']}}"><br>
        <label for="datum">Datum pocetka rada:</label><br>
        <input type="text" placeholder="datum" name="datum" required value="{{zaposleni['datum']}}"><br>
        <label for="plata">Visina plate:</label><br>
        <input type="text" placeholder="plata" name="plata" required value="{{zaposleni['plata']}}"><br>
        <label for="rmesto">Radno mesto:</label><br>
        <input type="text" placeholder="rmesto" name="rmesto" required value="{{zaposleni['rmesto']}}"><br>
        
        <input type="submit" value="izmeni"><br>
    </form>
</body>
</html>