<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angazovanje</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Zaposleni</td>
                <td>Nazi</td>
                <td>Prezime</td>
                <td>Datum pocetka rada</td>
            </tr>
        </thead>
        <tbody>
            {% for a in angazovanja %}
            <tr>
                <td>{{a["ime"]}}</td>
                <td>{{a["naziv"]}}</td>
                <td>{{a["pocetak"]}}</td>
                <td>{{a["kraj"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
    </div>
    </table>
</body>
</html>