<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tabela zaposlenih</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Ime</td>
                <td>Prezime</td>
                <td>Datum pocetka rada</td>
                <td>Visina plate</td>
                <td>Radno mesto</td>
                <td>Izmena</td>
                <td>Angazovanje</td>
                <td>Brisanje</td>
            </tr>
        </thead>
        <tbody>
            {% for z in zaposleni %}
            {% if z["obrisan"] %}
            <tr class="obrisan">
                <td>{{z["ime"]}}</td>
                <td>{{z["prezime"]}}</td>
                <td>{{z["datum"]}}</td>
                <td>{{z["plata"]}}</td>
                <td>{{z["rmesto"]}}</td>
                <td><a href="/brisanje/{{loop.index-1}}">obrisi</a></td>
            </tr>
            {% else %}
            <tr>
                <td>{{z["ime"]}}</td>
                <td>{{z["prezime"]}}</td>
                <td>{{z["datum"]}}</td>
                <td>{{z["plata"]}}</td>
                <td>{{z["rmesto"]}}</td>
                <td><a href="/izmeniFormu/{{loop.index-1}}">Izmeni</a></td>
                <td><a href="/angazovanjeForma/{{loop.index-1}}">Angazuj</a></td>
                <td><a href="/brisanje/{{loop.index-1}}">obrisi</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="/dodavanjeZaposlenog">Dodavanje zaposlenog</a>
        <a href="/statistikaAngazovanja">Statistika angayovanja</a>
    </div>
</body>
</html>