<div class="row">
    <div class="col-12">
        <form ng-submit="ctrl.wrapperFunction()" name="korisnikForma">
            <div class="form-group">
                <label for="ime">Korisnik:</label>
                <select name="ime" id="ime" ng-model="ctrl.novaKarta.korisnik_id" required>
                    <option ng-repeat="k in ctrl.korisnici" value="{{k.id}}">{{k.ime}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ime">Projekcija:</label>
                <select name="ime" id="ime" ng-model="ctrl.novaKarta.projekcija_id" required>
                    <option ng-repeat="p in ctrl.projekcije" value="{{p.id}}">{{p.film_id}}</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Kupi kartu" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
<!-- <script>
    function provera(event) {


        let datum = document.getElementById("termin").value
        datum.slice(0, 19)
        datum.replace("T", " ");
        

        let today = new Date()

        let dd = today.setDate(today.getDate()+1)
        let mm = today.setMonth(today.getMonth()+1)
        let yyyy = today.getFullYear()
        let hh = today.setHours(today.getHours()+2)
        let min = today.getMinutes()

        console.log(hh)

        if (dd < 10) dd = "0" + dd
        if (mm < 10) mm = "0" + mm
        if (hh < 10) hh = "0" + hh
        if (min < 10) min = "0" + min

        let now = yyyy + "-" + mm + "-" + dd + " " + hh + ":" + min

        //document.getElementById("termin").setAttribute("min", today);

        console.log(hh)
        console.log(now)
        console.log(datum)

        if (datum > now) {
            event.target.setCustomValidity("Datum nije validan!")
        } 
        else {
            event.target.setCustomValidity("");
        }
    }
</script> -->