<div class="row">
    <div class="col-12">
        <form ng-submit="ctrl.wrapperFunction();" name="filmForma">
            <div class="form-group">
                <label for="ime">Naziv:</label>
                <input type="text" name="ime" id="ime" class="form-control" ng-model="ctrl.noviFilm.naziv" required>
            </div>
            <div class="form-group">
                <label for="prezime">Zanr:</label>
                <input type="text" name="zanr" id="zanr" class="form-control" ng-model="ctrl.noviFilm.zanr" required>
            </div>
            <div class="form-group">
                <label for="reziser">Reziser:</label>
                <input type="text" name="reziser" id="reziser" class="form-control" ng-model="ctrl.noviFilm.reziser" required>
            </div>
            <div class="form-group">
                <label for="datum">Datum:</label>
                <input type="date" name="datum" id="datum" class="form-control" ng-model="ctrl.noviFilm.premijera" required>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Izmeni film" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>