<!DOCTYPE html>
<html>
    <head>
        <title>Prodavnica</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="style.css">
    </head>
<body>
    <table>
        <thead>
            <tr>
                <td>Naziv</td>
                <td>Dobavljac</td>
                <td>Jedinica mere</td>
                <td>Cena</td>
                <td>Obrisi</td>
            </tr>
        </thead>
        <tbody>
            {% for i in proizvodi %}
            {% if i["obrisan"] %}
            <tr class="obrisan">
                <td>{{i["naziv"]}}</td>
                <td>{{i["dobavljac"]}}</td>
                <td>{{i["jedinica_mere"]}}</td>
                <td>{{i["cena"]}}</td>
                <td><a href="/brisanje/{{loop.index-1}}">obrisi</a></td>                        <!--ne kontam-->
            </tr>
            {% else %}
            <tr>
                <td>{{i["naziv"]}}</td>
                <td>{{i["dobavljac"]}}</td>
                <td>{{i["jedinica_mere"]}}</td>
                <td>{{i["cena"]}}</td>
                <td><a href="/brisanje/{{loop.index-1}}">obrisi</a></td>                        <!--ne kontam sta se ovde desava-->
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>