<div class="row">
    <div class="col-12">
        <form ng-submit="pctrl.sacuvaj()" name="korisnikForma">
            <div class="form-group">
                <label for="ime">Ime:</label>
                <input ng-class="{'is-invalid': korisnikForma['ime'].$invalid}" type="text" name="ime" id="ime"
                    class="form-control" ng-model="pctrl.noviKorisnik.ime" required>
            </div>
            <div class="form-group">
                <label for="korisnicko_ime">Korisnicko ime:</label>
                <input ng-class="{'is-invalid': korisnikForma['korisnicko_ime'].$invalid}" type="text" name="korisnicko_ime" id="korisnicko_ime"
                class="form-control" ng-model="pctrl.noviKorisnik.korisnicko_ime" required>
            </div>
            <div class="form-group">
                <label for="prezime">Prezime:</label>
                <input ng-class="{'is-invalid': korisnikForma['prezime'].$invalid}" type="text" name="prezime" id="prezime"
                class="form-control" ng-model="pctrl.noviKorisnik.prezime" required>
            </div>
            <div class="form-group">
                <input type="submit" ng-if="pctrl.noviKorisnik['id']" value="Izmeni proizvod" class="btn btn-primary">
                <input type="submit" ng-if="!pctrl.noviKorisnik['id']" value="Dodaj proizvod" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>