<div class="row">
    <div class="col-12">
      <form ng-submit="ctrl.dodajKorisnika()" name="dodajKorisnika">
        <div class="form-group">
          <label for="ime">Ime:</label>
          <input type="text" name="ime" id="ime" class="form-control" ng-model="ctrl.noviKorisnik.ime" required />
        </div>
        <div class="form-group">
          <label for="prezime">Prezime:</label>
          <input type="text" name="prezime" id="prezime" class="form-control" ng-model="ctrl.noviKorisnik.prezime"
            required />
        </div>
        <div class="form-group">
          <input type="submit" value="Dodaj korisnika" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>