<div class="container justify-content-center">
      <div class="col-md-10 justify-content-center">
        <h1 class="display-4 text-center">oglasi</h1>
      </div>
      <div class="col-md-10 justify-content-center">
        <label for="">Naslov: </label>
        <input type="text" ng-model="ctrl.pretraga">
        <label for="">Sadrzaj: </label>
        <input type="text" ng-model="ctrl.pretraga1">
        <label for="">Datum objave: </label>
        <input type="date" ng-model="ctrl.pretraga2">
      </div>
	  
      <hr />
      <div class="col-md-10">
        <table class="table">
          <caption>
            Lista oglasa
          </caption>
          <thead>
            <tr>
              <th scope="col">Redni Broj</th>
              <th scope="col">Kategorija</th>
              <th scope="col">Korisnik</th>
              <th scope="col">Naslov</th>
              <th scope="col">Sadrzaj</th>
              <th scope="col">Datum objave</th>
              <th scope="col">Izmijena</th>
              <th scope="col">Brisanje</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="oglas in ctrl.oglasi" ng-if="oglas.naslov.includes(ctrl.pretraga) || oglas.sadrzaj.includes(ctrl.pretraga1) || oglas.datum_objave.includes(ctrl.pretraga2)">
              <td>{{$index+1}}</td>
              <td>{{oglas.kategorija_id}}</td>
              <td>{{oglas.korisnik_id}}</td>
              <td>{{oglas.naslov}}</td>
              <td>{{oglas.sadrzaj}}</td>
              <td>{{oglas.datum_objave}}</td>
              <td><a ui-sref="izmeniOglas({id: oglas.id})">IZMENI</a></td>
              <td>
                <button id="demo" ng-click="ctrl.obrisiOglas(oglas.id)" class="btn btn-danger btn-sm rounded">
                  <span>&times;</span>
                </button>
              
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
<script>

</script>