<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADD KORISNIKA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function proveri(event){
            let ime = document.getElementById("ime").value;
            let prezime = document.getElementById("prezime").value;
            let username = document.getElementById("username").value;
            let email = document.getElementById("email").value;

            if (!ime || !prezime || !username ||!email){
                event.target.setCustomValidity("Morate popuniti sva polja!");
            } else {
                event.target.setCustomValidity("");
            }
        }
    </script>
</head>
<body>
    <form action="/dodavanje" method="POST">
        <div>
            <label for="ime">IME</label>
            <input type="text" name="ime" id="ime">
        </div>
        <div>
            <label for="prezime">PREZIME</label>
            <input type="text" name="prezime" id="prezime">
        </div>
        <div>
            <label for="username">KORISNICKO IME</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="email">EMAIL</label>
            <input type="ime" name="email" id="email">
        </div>
        <div>
            <input type="submit" value="DODAJ" onclick="proveri(event)">
        </div>
    </form>

    <a href="/">POCETNA</a>
</body>
</html>