<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DODAVANJE RACUNA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form action="/dodavanjeRacuna/{{izabran['isbn']}}" method="POST">
        <div>
            <input type="submit" value="DODAJ">
        </div>
    </form>
</body>
</html>