<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DETALJI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>PODACI O VLASNIKU:</h1>
    <div>  
        <p>Ime: {{izabran["ime"]}}</p>
        <p>Prezime: {{izabran["prezime"]}}</p>
        <p>Korisnicko ime:{{izabran["username"]}}</p>
        <p>Email: {{izabran["email"]}}</p>
    </div>

    <h1>Racuni:</h1>
    {% for r in racuni_korisnika %}
        <div>
            <p>ID: {{r["id"]}}</p>
            <p>Balans: {{r["balans"]}}</p>
            <a href="/ukloniRacun/{{izabran['isbn']}}/{{loop.index-1}}">UKLONI RACUN</a>
        </div>

    {% endfor %}
    <br><br>
    <nav>
        <a href="/racunForma/{{izabran['isbn']}}">DODAJ RACUN</a>
        <a href="/">POCETNA</a>
    </nav>
    
</body>
</html>