<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>POCETNA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>IME</th>
                <th>PREZIME</th>
                <th>KORISNICKO IME</th>
                <th>EMAIL</th>
                <th>OPCIJE</th>
            </tr>
        </thead>
        <tbody>
            {% for k in korisnici %}
            <tr>
                <td>{{k["ime"]}}</td>
                <td>{{k["prezime"]}}</td>
                <td>{{k["username"]}}</td>
                <td>{{k["email"]}}</td>
                <td>
                    <a href="/obrisi/{{k['isbn']}}">OBRISI</a>
                    <a href="/detalji/{{k['isbn']}}">DETALJI</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    <nav>
        <a href="/korisnikForma">DODAVANJE</a>
        <a href="/uplataForma">UPLATI</a>
    </nav>
</body>
</html>