<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UPLATE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function proveri(event){
            let posiljalac = document.getElementById("posiljalac").value;
            let primalac = document.getElementById("primalac").value;
            let kolicina = document.getElementById("kolicina").value;

            if (posiljalac == primalac){
                event.target.setCustomValidity("Morate izabrati razlicite racune!")
            } else if (!kolicina || kolicina < 0){
                event.target.setCustomValidity("Kolicina nije validna!")
            } else {
                event.target.setCustomValidity("")
            }
        }
    </script>
</head>
<body>
    {% if uplata == false%}
    <p>Nema dovoljno sredstava na racunu pokusajte ponovo!</p>
    {% endif %}
    <form action="/uplati" method="POST">

        <div>
            <label for="posiljalac">POSILJALAC</label>
            <select name="posiljalac" id="posiljalac">
                {% for r in racuni %}
                    <option value="{{r['id']}}">{{r["id"]}}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="primalac">PRIMALAC</label>
            <select name="primalac" id="primalac">
                {% for r in racuni %}
                    <option value="{{r['id']}}">{{r["id"]}}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="kolicina">KOLICINA</label>
            <input type="number" name="kolicina" id="kolicina"  >   
        </div>

        <div>
            <input type="submit" value="POSALJI" onclick="proveri(event)">
        </div>
       
        
    </form>
    <br><br><br>
    <table>
        <thead>
            <tr>
                <th>POSILJALAC</th>
                <th>PRIMALAC</th>
                <th>KOLICINA</th>
                <th>DATUM</th>
            </tr>
        </thead>
        <tbody>
            {% for u in uplate %}
            <tr>
                <td>{{u["posiljalac"]}}</td>
                <td>{{u["primalac"]}}</td>
                <td>{{u["kolicina"]}}</td>
                <td>{{u["datum"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    <a href="/">POCETNA</a>
</body>
</html>