table tr td,th{
    border: 4px solid black;
    padding: 10px;
}
table{
    border-collapse: collapse;
}
.red{
    background-color: salmon;
}
.green {
    background-color: green;
}

input,a,p{
    background-color: black;
    color: gold;
    padding: 7px;
    border-radius: 10px;
}
input:hover,a:hover{
    color: black;
    background-color: gold;
    transition: 0.4s;
}
label,h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background-color: gray;
}