<div class="container justify-content-center">
    <div class="row justify-content-center">
      <div class="col-md-10 justify-content-center">
        <h1 class="display-4 text-center">Korisnici</h1>
      </div>
      <hr />
      <div class="col-md-10">
        <table class="table">
          <caption>
            Lista korisnika
          </caption>
          <thead>
            <tr>
              <th scope="col">Redni Broj</th>
              <th scope="col">Ime</th>
              <th scope="col">Prezime</th>
              <th scope="col">Izmijeni</th>
              <th scope="col">Brisanje</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="korisnik in ctrl.korisnici">
              <td>{{$index+1}}</td>
              <td>{{korisnik.ime}}</td>
              <td>{{korisnik.prezime}}</td>
              <td>
                <a ui-sref="izmeniKorisnika({id:korisnik.id})">Izmeni</a>
              </td>
              <td>
                <button ng-click="ctrl.obrisiKorisnika(korisnik.id)" class="btn btn-danger btn-sm">
                  <span>Obriši &times;</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <hr />
      </div>
      <div class="col-md-10 justify-content-center">
        <h1 class="display-4 text-center">Servisi</h1>
      </div>
      <hr />
      <div class="col-md-10">
        <table class="table">
          <caption>
            Lista servisa
          </caption>
          <thead>
            <tr>
              <th scope="col">Redni Broj</th>
              <th scope="col">Naziv</th>
              <th scope="col">Adresa</th>
              <th scope="col">Izmijena</th>
              <th scope="col">Brisanje</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="servis in ctrl.servisi">
              <td>{{$index+1}}</td>
              <td>{{servis.naziv}}</td>
              <td>{{servis.adresa}}</td>
              <td><a ui-sref="izmenaServisa({id: servis.id})">IZMENI</a></td>
              <td>
                <!-- <button id="demo" ng-click="ctrl.obrisiServis(servis.id)" class="btn btn-danger btn-sm rounded">
                  <span>&times;</span>
                </button> -->
                <button onclick="brisanje()" id="demo" class="btn btn-danger btn-sm rounded">
                  <span>&times;</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
    function brisanje(){
      alert("Nuspesno brisanje")
    }
  </script>