<div class="row">
   
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Redni broj</th>
                    <th>Naziv</th>
                    <th>Datum</th>
                    <th>Cena karte</th>
                    <th>Tip dogadjaja</th>
                    <th>Ukloni</th>
                    <th>Izmeni</th>
                </tr>
            </thead>
            <tbody>
                
                <tr ng-repeat="p in pctrl.dogadjaji">
                    
                    <td>{{$index+1}}.</td>
                    
                    <td><a ui-sref="dogadjaji({id: p['id']})">{{p["naziv"]}}</a></td>
                    <td>{{p["datum"]}}</td>
                    <td>{{p["cena_karte"]}}</td>
                    <td>{{p["tip_dogadjaja_id"]}}</td>
                    
                    <td><button class="btn btn-danger" ng-click="pctrl.ukloniDogadjaj(p['id'])">Ukloni</button></td>
                    <td> <a ui-sref="izmenaDogadjaja({id: p['id']})">Izmeni</a></td>
                </tr>
            </tbody>
        </table>
    
    </div>
</div>