<div class="row">
    <div class="col-12">
        <form ng-submit="ctrl.wrapperFunction();" name="izmeniOglas">

            <div>
                <label class="form-group">
                    <label for="kategorija_id">Kategorija</label>
                    <select name="kategorija_id" id="kategorija_id" ng-model="ctrl.noviOglas.kategorija_id" >
                        <option ng-repeat="s in ctrl.kategorije" value="{{s.id}}">{{s.naziv}}</option>
                    </select>
            </div>
            <div>
                <label class="form-group">
                    <label for="korisnik_id">Servis</label>
                    <select name="korisnik_id" id="korisnik_id" ng-model="ctrl.noviOglas.korisnik_id" required>
                        <option ng-repeat="s in ctrl.korisnici" value="{{s.id}}">{{s.ime}}</option>
                    </select>
            </div>
            <div class="form-group">
                <label for="naslov">naslov:</label>
                <input type="text" name="naslov" id="naslov" class="form-control" ng-model="ctrl.noviOglas.naslov" required>
            </div>
            <div class="form-group">
                <label for="sadrzaj">sadrzaj:</label>
                <input type="text" name="sadrzaj" id="sadrzaj" class="form-control" ng-model="ctrl.noviOglas.sadrzaj" required>
            </div>
            <div class="form-group">
                <label for="datum_objave">datum_objave:</label>
                <input type="date" name="datum_objave" id="datum_objave" class="form-control" ng-model="ctrl.noviOglas.datum_objave" required>
            </div>

            
            <div class="form-group">
                <input type="submit" value="Dodaj Servisera" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>